<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="{% static '/clients/css/styles.css' %}" rel="stylesheet" type="text/css"  />
</head>
<body>
<div class="navbar">
<div>
    <ul>
              <li class="menu_list box"> <a class="ancher" href="{% url 'client' %}">Клиенты</a></li>
              <li class="menu_list box"><a class="ancher" href="{% url 'services' %}">Услуги</a></li>
              <li class="menu_list box"><a class="ancher" href="{% url 'contracts' %}">Договора</a></li>
          </ul>
</div>
</div>
    {% block content %}{% endblock %}
</body>
</html>

<style>
.navbar {
  background: #000000;
  height: 100%;
  padding: 30px;
  display: table;
  width: 100%;
}

.ancher{
  color: #ffffff;
  font-family: "Tilda Sans VF";
  text-decoration: none;
}
.menu_list{
  font-size: 18px;
  display: inline-block;
  white-space: nowrap;
  margin: 10px;
}
.Clients{
  font-family: sans-serif;
  text-align: left;
  border-collapse: collapse;
  border: 2px solid #999;
  border-radius: 5px;
  margin: 10px;
}

.Clients__header{
  font-size: 18px;
  padding: 10px;
  border: 2px solid #999;
}
.Clients__info{
  padding: 10px;
  border: 2px solid #999;
}
</style>