{% extends 'clients/base.html' %}

{% block content %}
   <table class="Clients">
                <tr>
                    <th class="Clients__header">№</th>
                    <th class="Clients__header">Клиент</th>
                    <th class="Clients__header">Телефон</th>
                    <th class="Clients__header">Выбранная услуга</th>
                    <th class="Clients__header">Сумма услуг</th>
                    <th class="Clients__header">Заключенные договора</th>
                </tr>
                  {% for client in clients %}
                <tr class="Clients__table">
                    <td class="Clients__info">{{ forloop.counter }}</td>
                    <td class="Clients__info">{{ client }}</td>
                    <td class="Clients__info">{{ client.telephone }}</td>
                    <td class="Clients__info">{{ client.contracts.service.first }}</td>
                    <td class="Clients__info">{{ service.price }}</td>
                </tr>
                  {% endfor %}
            </table>

{% endblock %}


