{% extends 'clients/base.html' %}

{% block content %}
   <table class="Clients">
                <tr>
                    <th class="Clients__header">Клиент</th>
                    <th class="Clients__header">Адрес монтажа</th>
                    <th class="Clients__header">Выбранная услуга</th>
                    <th class="Clients__header">Сумма услуг</th>
                    <th class="Clients__header">Статус договора</th>
                </tr>
                  {% for contract in contracts %}
                <tr class="Clients__table">
                    <td class="Clients__info">{{ contract.client }}</td>
                    <td class="Clients__info">{{ contract.address }}</td>
                    <td class="Clients__info">{{ contract.service }}</td>
                    <td class="Clients__info">{{ contract.service.price }}</td>
                    <td class="Clients__info">{{ contract.get_is_complited }}</td>
                </tr>
                  {% endfor %}
            </table>

{% endblock %}


