<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
Веб-приложение для фирмы занимающиеся установкой и обслуживанием кондиционеров.

Ведение клиентов со статусом:
Техоценка - Статус договора - Установка кондиционера

Создание базы клиентов, для постоянных скидки

Подсчет прибыли

</body>
</html>