{% extends 'clients/base.html' %}

{% block content %}
   <table class="Clients">
                <tr>
                    <th class="Clients__header">Наименование услуги</th>
                    <th class="Clients__header">Описание</th>
                    <th class="Clients__header">Стоимость услуги</th>
                    <th class="Clients__header">Сроки выполнения</th>
                </tr>
                  {% for service in services %}
                <tr class="Clients__table">
                    <td class="Clients__info">{{ service.name }}</td>
                    <td class="Clients__info">{{ service.description}}</td>
                    <td class="Clients__info">{{ service.price }}</td>
                    <td class="Clients__info">{{ service.dedline }}</td>
                </tr>
                  {% endfor %}
            </table>

{% endblock %}


