
.menu_list{
  font-size: 18px;
  display: inline-block;
  white-space: nowrap;
  margin: 10px;
}

@media screen and (max-width: 980px) {
  .box {
    display: block;
    width: 100%;
    float: none;
  }
}

.home {
  width: 100%;
  background: aquamarine;
  height: 776px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-attachment: fixed;
}

.Clients{
  font-family: sans-serif;
  text-align: left;
  border-collapse: collapse;
  border: 2px solid #999;
  border-radius: 5px;
  margin-bottom: 10px;
}

.Clients__header{
  font-size: 18px;
  padding: 10px;
  border: 2px solid #999;
}
.Clients__info{
  padding: 10px;
  border: 2px solid #999;
}